.ts05-Subtitle-Allura
{
	font-family: allura-n4, cursive;
}

.ts05-Title-Graduate
{
	font-family: graduate-n4, sans-serif;
}

.ts04-Title-Raleway-Thin
{
	font-family: raleway-n1, sans-serif;
}

.ts04-Subtitle-Comfortea-Bold
{
	font-family: comfortaa-n7, sans-serif;
}

.ts06-Title-Lobster-Two-Italic
{
	font-family: lobster-two-i4, cursive;
}

.ts06-Subtitle-Annie-Use-Your-Telescope
{
	font-family: annie-use-your-telescope-n4, sans-serif;
}

.ts03-Body-Sans-Wide
{
	font-family: droid-sans-n4, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u8469
{
	font-family: actor-n4, sans-serif;
}

#u7208-4,#u7205-4,#u7211-4,#u7201-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u7207-4,#u7204-6,#u7210-4,#u7202-4,#u7562-4,#u7534-4,#u7554-4,#u7540-4,#u7558-4,#u7550-4,#u7564-4,#u7546-4,#u7542-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

